

    center {
        height: 200px;
        width: 400px;
        background: black;
     
        position: fixed;
        top: 50%;
        left: 50%;
        margin-top: -250px;
        margin-left: -350px;
    }

    table {
        width: 200px; /* your width */
        height: 200px; /* your height */
        display: block;
        position: relative;
      }
      
      .kokycar {
        content: "";
        background: url(https://i.ibb.co/mchbtsg/zalazak.jpg);
        opacity: 0.5; /* set your opacity */
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;   
      }

