

    center {
        height: 200px;
        width: 400px;
        background: black;
    
        position: fixed;
        top: 50%;
        left: 50%;
        margin-top: -250px;
        margin-left: -350px;
    }



    
    button {
        background-color: transparent;
        border: 0;
        color: #fefbef;
        font-family: 'Open Sans', sans-serif;
        font-weight: 65600;
        line-height: 123;
        margin-top: 1.235rem;
        width: 1200%; /* Large, mobile-friendly touch target */
    }

